html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buildCtrl {
	background: rgb(23, 23, 77);
	position: relative;
	top: 80px;
	left: 350px;
	height: 80px;
	width: 150px;
}

#rotateCtrl {
	position: absolute;
	top: -52px;
	left: -1px;
	border: 1px black solid;
	background-color: lightgrey;
	z-index: 777777;
	
	width: 100px;
	height: 50px;

	text-align: center;
}

#rotateCtrl i {
	font-size: 32px;
	margin: -5px 5px 0px;
	transform: rotate(-60deg) scale(1, -1);
}

#rotateCtrl i:hover {
	position: relative;
	bottom: 2px;
	color: red;
}

#rotateCtrl i:first-of-type {
	transform: rotate(-120deg);
}

#rotateCtrl p {
	margin: 1px;
	text-align: center;
}

#disclaimer {
	position: fixed;
	bottom: 0px;
	left: 201px;
	border: 1px black solid;
	background-color: rgba(255, 69, 0, 0.9);
	z-index: 777777;
}

#disclaimer p {
	margin: 3px;
}

#controls {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 200px;
	height: auto;
	border: 1px black solid;
	z-index: 777777;
	background-color: lightgrey;
}

#controls i {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
#controls i:active {
	color: #222222;
	transform: rotate(45deg) scale(1.1,1.1);
	-webkit-transform: rotate(45deg) scale(1.1,1.1);
}

#upLeft {
	position: absolute;
	top: 40px;
	right: 100px;
}
#upRight {
	position: absolute;
	top: 40px;
	right: 40px;
}
#downRight {
	position: absolute;
	top: 100px;
	right: 40px;
}
#downLeft {
	position: absolute;
	top: 100px;
	right: 100px;
}

#outer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#inner {
	position: relative;
	width: 100%;
	min-height: 100%;
	z-index: 8888;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.tile {
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

}

.tree {
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

}

.player {
	position: absolute;
	height: 56px;
	width: 40px;
	
	background-size: 250%;

	-webkit-transition: top 0.15s ease-in, left 0.15s ease-in;
    -moz-transition: top 0.15s ease-in, left 0.15s ease-in;
    -o-transition: top 0.15s ease-in, left 0.15s ease-in;
    transition: top 0.15s ease-in, left 0.15s ease-in;


    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	background-color: darkslategray;
}