html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buildCtrl {
	background: rgb(23, 23, 77);
	position: relative;
	top: 40px;
	left: 400px;
	height: 120px;
	width: 100px;
}

#buildCtrl form {
	height: 120px;
	width: 100px;
	color: white;
}

#buildCtrl form input {
	width: 40px;
	height: 20px;
}

#controls {
	position: fixed;
	left: -240px;
	bottom: -140px;
	width: 400px;
	height: 300px;
	border: 1px black solid;
	border-radius: 100px;
	background: rgb(23, 23, 77);
	z-index: 777777;
}

#controls i {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
#controls i:active {
	color: #222222;
	transform: rotate(45deg) scale(1.1,1.1);
	-webkit-transform: rotate(45deg) scale(1.1,1.1);
}

#upLeft {
	position: absolute;
	top: 40px;
	right: 100px;
}
#upRight {
	position: absolute;
	top: 40px;
	right: 40px;
}
#downRight {
	position: absolute;
	top: 100px;
	right: 40px;
}
#downLeft {
	position: absolute;
	top: 100px;
	right: 100px;
}

#outer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#inner {
	position: relative;
	width: 100%;
	min-height: 100%;
	z-index: 8888;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.tile {
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

}

.player {
	position: absolute;
	height: 70px;
	width: 50px;
	
	background-size: 250%;

	-webkit-transition: top 0.15s ease-in, left 0.15s ease-in;
    -moz-transition: top 0.15s ease-in, left 0.15s ease-in;
    -o-transition: top 0.15s ease-in, left 0.15s ease-in;
    transition: top 0.15s ease-in, left 0.15s ease-in;


    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	background-color: darkslategray;
}

#redraw {
	height: 55px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	font-size: 14px;
}

#draw {
	height: 55px;
	position: fixed;
	top: 55px;
	left: 0px;
	z-index: 9999;
	font-size: 14px;
}